RewriteEngine On
RewriteBase /
RewriteRule ^produit-([0-9][0-9][0-9])$ index.php?Produit=$1&%{QUERY_STRING} [NC,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteCond %{REQUEST_URI} !^/inscriptionForm\.php$
RewriteCond %{REQUEST_URI} !^/pdf\.php$
RewriteCond %{REQUEST_URI} !^/excel\.php$
RewriteCond %{REQUEST_URI} !^/ConnectionProcess\.php$
RewriteCond %{REQUEST_URI} !^/editInformation\.php$
RewriteCond %{REQUEST_URI} !^/validLicence\.php$
RewriteCond %{REQUEST_URI} !^/AddToCart\.php$
RewriteCond %{REQUEST_URI} !^/deleteProduct\.php$
RewriteRule ^(.*)$ index.php?Page=$1&%{QUERY_STRING} [NC,L]
#produit specifique :
#RewriteRule ^produits$ index.php?Page=commande [L]
